/* 文字颜色 */

.info-text {
  color: #909399;
}
.important-text {
  color: #303133;
}
.common-text {
  color: #606266;
}
.minor-text {
  color: #909399;
}
.placeholder-text {
  color: #c0c4cc;
}

/* 背景颜色 */
.danger {
  color: #f56c6c;
}

/* 边框颜色 */